<div class="container">
  <h3 class="h3">{{ title | titlecase }}</h3>
  <div class="row">
    <div class="col-md-3 col-sm-6 mb-3" *ngFor="let pro of products">
      <div class="product-grid">
        <div class="product-image">
          <a href="#">
            <img class="pic-1" src="{{ pro.img1 }}" />
            <img class="pic-2" src="{{ pro.img2 }}" />
          </a>
          <ul class="social">
            <li>
              <a href="" data-tip="Quick View"><i class="fa fa-search"></i></a>
            </li>
            <li>
              <a href="" data-tip="Add to Wishlist"
                ><i class="fa fa-shopping-bag"></i
              ></a>
            </li>
            <li>
              <a href="" data-tip="Add to Cart"
                ><i class="fa fa-shopping-cart"></i
              ></a>
            </li>
          </ul>
          <span class="product-new-label">{{ pro.sale }}</span>
          <span class="product-discount-label">{{ pro.discountLable }}</span>
        </div>

        <div class="product-content">
          <h3 class="title">
            <a href="#">{{ pro.productName | titlecase }}</a>
          </h3>
          <div class="price">
            {{ pro.price }}
            <span>{{ pro.discountPrice }}</span>
          </div>
          <p class="brand">{{ pro.brand }}</p>
          <ul class="rating">
            <li
              class="fa fa-star"
              *ngFor="let abc of [].constructor(pro.rating)"
            ></li>
          </ul>
          <a class="add-to-cart" href="">+ Add To Cart</a>
        </div>
      </div>
    </div>
  </div>
</div>
