<div class="topeheader">
  <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container nava">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home">HOME</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/about" routerLinkActive="active"
            >MAKEUP</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/movies">SKIN</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/policy">HAIR</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/agent">PERSONAL CARE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/agent">FRAGRANCE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/admin">ADMIN</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input
          class="form-control mr-sm-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn navsub my-2 my-sm-0" type="submit">
          Search
        </button>
      </form>
    </div>
  </nav>
</div>
